/* Write Your CSS Below 
Colors: 
- rgb(243, 183, 106) - warm yellow
- yellow - bright yellow
- rgb(241, 117, 0) - orange
- red - red
- #f3b76a - light orange
- #f17500 - dark orange
- #0d6e00 - dark green
- #6d00fb - purple
- #dbff39 - neon green
- #74c9f1 - light blue
- #fb4040 - light red

Sizes: 
- 100%
- 70%
- auto
- 1.5em
- 3rem
- .5em

Font: 
- Copperplate (You can also use any font that you'd like!)

Images: 
- "https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg"
    - (You may use any image you would like for the background!)
*/

body {
    background-image: url("https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg");
    background-size: cover;
    font-family: acumin-pro, sans-serif;
    font: acumin-pro, sans-serif;
    font-style: normal;
    font-weight: 350;
    line-height: 1.5em;
    letter-spacing: .01em;
}

h1 {
    font-size: 3rem;
    color: #f3b76a;
    line-height: 40px;
    text-align: center;
    background-image: linear-gradient(to bottom right, #74c9f1, #f60404);
    border: 2px solid #1479a8;
    border-radius: 10px;
    box-shadow: 0 0 10px #74c9f1;
    font-weight: 500;

}

#jordans-1 {
    border: 2px solid #74c9f1;
    border-radius: 10px;
    box-shadow: 0 0 10px #74c9f1;
    width: 50%;
    height: auto;
}

#jordans-1-desc {
    background-color:  #74c9f1;
    border: 2px solid #74c9f1;
    border-radius: 10px;
    box-shadow: 0 0 10px #74c9f1;
    font-size: 1.5em;
    margin-right: 50%;
    color: white;
}

#jordans-2 {
    border: 2px solid #fb4040;
    border-radius: 10px;
    box-shadow: 0 0 10px #fb4040;
    float: right;
    width: 50%;
    height: auto;
}

#jordans-2-desc {
    background-color:  #fb4040;
    border: 2px solid #fb4040;
    border-radius: 10px;
    box-shadow: 0 0 10px #fb4040;
    font-size: 1.5em;
    color: white;
    margin-left: 50%;
    clear: right;
}
